{% extends "base.html" %}

{% block head %}
    {{ super() }}

    {% if article.keywords %}
        <meta name="keywords" contents="{{ article.keywords }}" />
    {% endif %}

    {% if article.title %}
        <meta name="description" contents="{{article.title}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
        <meta name="keywords" contents="{{ tag }}" />
    {% endfor %}

{% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if article.header_cover %}
        <header class="intro-header" style="background-image: url('{{ article.header_cover }}')">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        {% if article.headline %}
                            <h3 class="subheading">{{ article.headline }}</h3>
                        {% endif %}
                        <span class="meta">
                            {{ article.locale_date }}
                             by
                            {% for author in article.authors %}
                                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                        </span>
                        {% import 'translations.html' as translations with context %}
                        {{ translations.translations_for(article) }}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Post Content -->
    <article>
        {{ article.content }}
        
        <hr>
        <b>转载请注明:<br>
            作者: {{ article.author }} <br>
            本文连接：<b> <a href="{{ SITEURL }}/{{ article.url }}"> {{ SITEURL }}/{{ article.url }} <a>
    </article>

	{% include 'duoshuo.html' %}
{% endblock content %}
