<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/clean-blog.css" rel="stylesheet">

        <!-- Code highlight color scheme -->
        {% if COLOR_SCHEME_CSS %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
        {% else %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
        {% endif %}

    {% endblock head %}
	{% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ GITHUB_URL }}/"><span class="menutext">{{ GITHUB_LINK_DISPLAY_NAME }}</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
          					<li>
                      <a href="{{ SITEURL }}">
                         <span class="menutext">首页</span>
                      </a>
                    </li>

          					<li>
                      <a href="{{ SITEURL }}/tags.html">
                        <span class="menutext">标签</span>
                      </a>
                    </li>

          					<li>
                      <a href="{{ SITEURL }}/archives.html">
                        <span class="menutext">归档</span>
                      </a>
                    </li>

          					<li>
                      <a href="{{ SITEURL }}/author/{{ ABOUT_PAGE_NAME }}.html">
                        <span class="menutext">关于我</span>
                      </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block header %}{% endblock header %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">
                      {% if COPYRIGHTMARK %}
                          {{ COPYRIGHTMARK }},
                      {% endif %}

                       Blog powered by <a href="http://getpelican.com">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.min.js"></script>

    {% include 'analytics.html' %}
</body>

</html>
