{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>文章标签</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="tags">
        <h1>标签({{ tags | length }})</h1>
        <div class="panel-group" id="accordion">
            {%- for tag, articles in tags | sort %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{tag.slug}}">
                          {{ tag }} <span class="badge pull-right">{{ articles|count }}</span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{tag.slug}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><strong>标签 - ({{ articles | length }})</strong></p>
                        <table class="table table-hover table-condensed">
                            <tbody>
                                {% for article in articles | sort( attribute="date", reverse = True) %}
                                    <tr>
                                    <td width="120"><strong>{{ article.date.strftime("%Y-%m-%d") }}</strong></td>
                                    <td><a class="linktext" href='{{ article.url }}'><span class="text-left">{{ article.title }}</span></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
{% endblock content %}
